---
import { Button, Container } from "@components/ui";
import {
  ArrowPathIcon,
  CloudArrowUpIcon,
  Cog6ToothIcon,
  FingerPrintIcon,
  LockClosedIcon,
  ServerIcon,
} from "@heroicons/react/24/outline";

const features = [
  {
    name: "Bespoke photography",
    description:
      "Photographs will be tailored to you in accordance to your project brief",
    icon: CloudArrowUpIcon,
  },
  {
    name: "Fast delivery",
    description:
      "Receive your photographs within a few days on average, breakdown below.",
    icon: LockClosedIcon,
  },
  {
    name: "Bye-bye meetings",
    description:
      "Communicate through Trello so we all spend our time doing what we love, not just sat in meetings",
    icon: ArrowPathIcon,
  },
  {
    name: "Fixed rates",
    description: "Pay the same amoutn each month, quarter or year. No catches.",
    icon: FingerPrintIcon,
  },
  {
    name: "Excellence",
    description: "Highest quality of work only",
    icon: Cog6ToothIcon,
  },
  {
    name: "Uber flexible",
    description: "Cancel or pause your subscription at anytime",
    icon: ServerIcon,
  },
];
---

<div id="benefits" class="py-24 sm:py-32">
  <Container>
    <div id="benefits-text" class="mx-auto max-w-2xl sm:text-center">
      <!-- <h2 -->
      <!--   class="text-base font-semibold leading-7 text-amber-600 dark:text-amber-500" -->
      <!-- > -->
      <!--   Everything you need -->
      <!-- </h2> -->
      <p
        class="mt-2 text-4xl font-bold tracking-tight text-gray-950 dark:text-gray-50 sm:text-5xl"
      >
        Endless Benefits
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-700 dark:text-gray-300">
        Everything you could possibly need
      </p>
      <Button
        as="a"
        href="#pricing"
        variant="default"
        size="lg"
        className="mt-6 text-lg"
      >
        See memberships
      </Button>
    </div>
  </Container>

  <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8">
    <dl
      id="benefits-list"
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-gray-700 dark:text-gray-300 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-16 lg:gap-y-16"
    >
      {
        features.map((feature) => (
          <div>
            <feature.icon
              className="mx-auto h-24 w-24 stroke-[0.75px] text-amber-600 dark:text-amber-500"
              aria-hidden="true"
            />
            <div class="relative mt-4 text-center">
              <dt class="text-xl font-semibold text-gray-950 dark:text-gray-50">
                {feature.name}
              </dt>
              <dd class="mt-3">{feature.description}</dd>
            </div>
          </div>
        ))
      }
    </dl>
  </div>
</div>
