---
import trelloDemo from "@assets/images/trello-demo.png";
import { Image } from "astro:assets";

import { Container } from "@components/ui";
---

<div class="py-24 sm:py-32">
  <Container>
    <div id="explainer-text-1" class="mx-auto max-w-2xl lg:text-center">
      <!-- <h2 -->
      <!--   class="text-base font-semibold leading-7 text-amber-600 dark:text-amber-500" -->
      <!-- > -->
      <!--   Photography reimagined -->
      <!-- </h2> -->
      <p
        class="mt-2 text-4xl font-bold tracking-tight text-gray-950 dark:text-gray-50 sm:text-5xl"
      >
        Photography reimagined
      </p>
      <p class="mt-6 text-xl leading-8 text-gray-700 dark:text-gray-300">
        Photography pipelined like never before
      </p>
    </div>

    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl
        id="explainer-steps-1"
        class="grid max-w-xl grid-cols-1 gap-x-12 gap-y-16 text-center lg:max-w-none lg:grid-cols-3"
      >
        <div class="flex flex-col items-center">
          <dt
            class="flex items-center gap-x-3 text-xl font-semibold leading-7 text-gray-950 dark:text-gray-50"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-5 w-5 flex-none text-amber-600 dark:text-amber-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7.875 14.25l1.214 1.942a2.25 2.25 0 001.908 1.058h2.006c.776 0 1.497-.4 1.908-1.058l1.214-1.942M2.41 9h4.636a2.25 2.25 0 011.872 1.002l.164.246a2.25 2.25 0 001.872 1.002h2.092a2.25 2.25 0 001.872-1.002l.164-.246A2.25 2.25 0 0116.954 9h4.636M2.41 9a2.25 2.25 0 00-.16.832V12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 12V9.832c0-.287-.055-.57-.16-.832M2.41 9a2.25 2.25 0 01.382-.632l3.285-3.832a2.25 2.25 0 011.708-.786h8.43c.657 0 1.281.287 1.709.786l3.284 3.832c.163.19.291.404.382.632M4.5 20.25h15A2.25 2.25 0 0021.75 18v-2.625c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125V18a2.25 2.25 0 002.25 2.25z"
              ></path>
            </svg>
             Unlimited requests
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-lg leading-7 text-gray-700 dark:text-gray-300"
          >
            <p class="flex-auto">
              Request as many projects as you need. No, seriously.
            </p>
          </dd>
        </div>

        <div class="flex flex-col items-center">
          <dt
            class="flex items-center gap-x-3 text-xl font-semibold leading-7 text-gray-950 dark:text-gray-50"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-5 w-5 flex-none text-amber-600 dark:text-amber-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3"
              ></path>
            </svg>

             Constant delivery
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-lg leading-7 text-gray-700 dark:text-gray-300"
          >
            <p class="flex-auto">
              Receive your photographs within a few working days on average
            </p>
          </dd>
        </div>

        <div class="flex flex-col items-center">
          <dt
            class="flex items-center gap-x-3 text-xl font-semibold leading-7 text-gray-950 dark:text-gray-50"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-5 w-5 flex-none text-amber-600 dark:text-amber-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.121 7.629A3 3 0 009.017 9.43c-.023.212-.002.425.028.636l.506 3.541a4.5 4.5 0 01-.43 2.65L9 16.5l1.539-.513a2.25 2.25 0 011.422 0l.655.218a2.25 2.25 0 001.718-.122L15 15.75M8.25 12H12m9 0a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>

             Simple fees
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col text-lg leading-7 text-gray-700 dark:text-gray-300"
          >
            <p class="flex-auto">
              Choose between paying monthly, quarterly or annually. No hidden
              costs.
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </Container>
</div>

<div class="overflow-hidden py-24 sm:py-32">
  <Container>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-8">
        <div class="lg:max-w-lg">
          <div id="explainer-text-2">
            <!-- <h2 -->
            <!--   class="text-base font-semibold leading-7 text-amber-600 dark:text-amber-500" -->
            <!-- > -->
            <!--   Camera go brrr -->
            <!-- </h2> -->
            <p
              class="text-4xl font-bold tracking-tight text-gray-950 dark:text-gray-50 sm:text-5xl"
            >
              Mind-blowingly simple
            </p>
            <p class="mt-6 text-xl leading-8 text-gray-700 dark:text-gray-300">
              No more one-off contracts, unreliable freelancers, endless emails,
              or expensive in-house photographers. One monthly fee, constant
              delivery.
            </p>
          </div>

          <dl
            id="explainer-steps-2"
            class="mt-14 max-w-xl space-y-12 text-xl leading-7 text-gray-700 dark:text-gray-300 lg:max-w-none"
          >
            <div class="relative text-center lg:text-left">
              <dt class="text-gray-950 dark:text-gray-50">
                <span class="font-semibold"
                  >Subscribe to a plan that suits you</span
                >
              </dt>
              <dd class="text-base mt-2 dark:text-gray-400 text-gray-500">
                Quick and easy to get started
              </dd>
            </div>

            <div class="relative text-center lg:text-left">
              <dt class="text-gray-950 dark:text-gray-50">
                <span class="font-semibold"
                  >Request your projects on your personalised Trello board</span
                >
              </dt>
              <dd class="text-base mt-2 dark:text-gray-400 text-gray-500">
                Fill out the form, attach project briefs, moodboards,
                deliverables and anything else to help get your vision across
              </dd>
            </div>

            <div class="relative text-center lg:text-left">
              <dt class="text-gray-950 dark:text-gray-50">
                <span class="font-semibold"
                  >Receive your photographs within a few days</span
                >
              </dt>
              <dd class="text-base mt-2 dark:text-gray-400 text-gray-500">
                Use your photographs on social media, your website and more!
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <Image
        id="explainer-img"
        src={trelloDemo}
        alt=""
        class="my-auto w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-white/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
        sizes="(max-width: 640px) 768px, 912px"
        quality={80}
      />
    </div>
  </Container>
</div>
