---
import { Button } from "@components/ui";

import Layout from "../layouts/BaseLayout.astro";
import SEO from "../layouts/SEO.astro";
---

<Layout>
  <SEO slot="seo" title="Page not found" />

  <main
    slot="main"
    class="grid min-h-screen place-items-center px-6 py-24 sm:py-32 lg:px-8"
  >
    <div class="text-center">
      <p class="text-base font-semibold text-amber-600">404</p>
      <h1
        class="mt-4 text-3xl font-bold tracking-tight text-gray-950 dark:text-gray-50 sm:text-5xl"
      >
        Page not found
      </h1>
      <p class="mt-6 text-base leading-7 text-gray-700 dark:text-gray-300">
        Sorry, we couldn’t find the page you’re looking for.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <Button variant="subtle" as="a" href="/">Go back home</Button>
      </div>
    </div>
  </main>
</Layout>
