---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Laeba Qasim Creative">
  <main>
    <h1 class="text-3xl font-bold text-black dark:text-white">
      Laeba Qasim Creative
    </h1>
  </main>
</Layout>
