---
import BenefitsSection from "@components/landing-page/benefits.astro";
import ExplainerSection from "@components/landing-page/explainer.astro";
import HeroSection from "@components/landing-page/hero.astro";
import PricingSection from "@components/landing-page/pricing.astro";

import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Laeba Qasim Creative">
  <main>
    <HeroSection />
    <ExplainerSection />
    <BenefitsSection />
    <PricingSection />
  </main>
</Layout>
