---
import HeroSection from "@components/landing-page/hero.astro";

import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Laeba Qasim Creative">
  <main>
    <HeroSection />
  </main>
</Layout>
