---
import ExplainerSection from "@components/landing-page/explainer.astro";
import HeroSection from "@components/landing-page/hero.astro";

import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Laeba Qasim Creative">
  <main>
    <HeroSection />
    <ExplainerSection />
  </main>
</Layout>
