---
import Layout from "../layouts/BaseLayout.astro";

export const prerender = true;
---

<Layout title="Portfolio | Laeba Qasim Creative">
  <main>
    <p class="text-black dark:text-white">portfolio</p>
  </main>
</Layout>
