---
import Layout from "../layouts/BaseLayout.astro";
import SEO from "../layouts/SEO.astro";
---

<Layout>
  <SEO slot="seo" title="Portfolio" />

  <main slot="main">
    <p class="text-black dark:text-white">portfolio</p>
  </main>
</Layout>
