---
import { MoonIcon, SunIcon } from "@heroicons/react/24/outline";

import { Button } from "./ui";
---

<Button name="theme-toggle" variant="ghost" size="sm">
  <MoonIcon
    className="h-5 w-5 text-gray-900 dark:text-transparent block dark:hidden"
  />
  <SunIcon
    className="h-5 w-5 text-transparent dark:text-gray-100 hidden dark:block"
  />
</Button>

<script>
  const html = document.documentElement;

  const themeToggles = document.querySelectorAll("button[name='theme-toggle']");

  const getMessage = () => {
    const theme = html.classList.contains("dark") ? "light" : "dark";
    return `Use ${theme} mode`;
  };

  const toggleTheme = (theme: "light" | "dark") => {
    localStorage.setItem("lqc-theme", theme);
    html.classList.add(theme === "dark" ? "dark" : "light");
    html.classList.remove(theme === "dark" ? "light" : "dark");

    themeToggles.forEach((toggle) => {
      toggle!.setAttribute("title", getMessage());
      toggle!.setAttribute("aria-label", getMessage());
      toggle!.setAttribute("value", theme);
    });
  };

  themeToggles.forEach((toggle) => {
    toggle!.setAttribute("title", getMessage());
    toggle!.setAttribute("aria-label", getMessage());
    toggle!.setAttribute(
      "value",
      html.classList.contains("dark") ? "dark" : "light",
    );

    toggle!.addEventListener("click", () => {
      toggleTheme(html.classList.contains("dark") ? "light" : "dark");
    });
  });
</script>
