---
import { Container } from "@components/ui";

import { FaqList } from "./faq-list";

const faqs = [
  {
    question: "Why wouldn’t I just hire a freelance photographer?",
    answer:
      "<p>This is a great point! Finding a freelance photographer that is available and within budget for your project can take time to find and vet on your end and this can result in being in endless meetings going back and forth with negotiations and contracts. Typically, a freelance photographers payment structure is broken down into: photographers fee, licensing costs and extra expenses such as props, backdrops etc.</p><p>The subscription service offers a flat fee with no extra costs (including licensing). As there will be a dedicated Notion board for your requests, I am able to view your priorities in real time without the need for multiple meetings.</p>",
  },
  {
    question: "Is there a limit to how many requests I can have?",
    answer:
      "<p>Nope! You can fill up the pipeline with as many requests as you’d like. Then, an item will be worked on one by one. You’ll have full control of the backlog and can prioritise each item according to your business needs.</p>",
  },
  {
    question: "How do I request a project?",
    answer:
      "<p>Once you sign up, you’ll have access to your own Notion board where you can raise requests and manage your requests pipeline. When you go to raise a project request, you’ll fill out a form requesting details of your brief, including but not limited to: size of photos, lighting style, specific colour ways etc. you will also be able to attach a mood board to show your vision that way if you prefer.</p>",
  },
  {
    question: "Is licensing included?",
    answer:
      "<p>Yes, licensing is included! You can post the photographs anywhere you wish, whether that be across all of your social media accounts (including whitelisting), on your website, or even print. You can read more about the exact details in the <a class='underline dark:text-sky-500 text-sky-700' href='/terms'>licensing agreement</a>.</p>",
  },
  {
    question: "Who owns the copyright of the images?",
    answer:
      "Whilst you have full licensing rights, the copyright remains under Laeba Qasim Creative.",
  },
  {
    question: "How do I cancel my subscription?",
    answer:
      "<p>You can cancel at any time by simply logging into your billing portal. When you cancel, your subscription will be active until the end of the period that has been paid for.</p>",
  },
  {
    question: "How does pausing the subscription work?",
    answer:
      "<p>If you'd like to pause, simply <a class='underline dark:text-sky-500 text-sky-700' href='mailto:laeba@laebaqasimcreative.com'>send me an email</a> and I'll pause the subscription for you. When you pause with work in your ‘Active’ column in Trello, no work will be continued on that item until your subscription is unpaused. If you want to unpause and resume work, send me an email and I'll resume the subscription. You won't be charged for the next billing period until you have used all of the days you had paused for.</p><p>Billing cycles are based on 31, 91 and 365 day periods for monthly, quarterly and yearly subscriptions respectively. So, for example, if you're on a monthly subscription and have used the service for 14 days and then pause your subscription, you'll have 17 days remaining to use at any time in the future before you are billed again. In other words, the current billing period will be extended by the number of days you pause for.</p>",
  },
  {
    question: "When will I receive my photographs?",
    answer:
      "<p>Typical turnarounds are as follows:</p><ol><li>i. Bronze 2-3 days</li><li>ii. Silver 3-4 days</li><li>iii. Gold 5-6 days</li></ol><p>Turnaround time will start from the time the product is received from yourself. I will communicate with you throughout the process, letting you know when I have received the product(s).</p><p>Please note, these turnarounds are a <strong>guideline only</strong> &mdash; many revisions and more complex requests may take longer.</p>",
  },
  {
    question: "What makes a request ‘more complex’?",
    answer:
      "<p>Complexity can range from prop sourcing to set design. For example: if for one product you'd like some light and airy photos, some dark and moody photos and some outdoor photos, these would count as three different sets and so extra time would be needed to account for the complexity. As always, this will be communicated with you.</p>",
  },
  {
    question: "What constitutes as a project?",
    answer: "<p>1 product = 1 project</p>",
  },
  {
    question: "What if I only have a single request?",
    answer:
      "<p>That’s not a problem! You can pause the subscription after your single request has been completed and then return when you have additional photography needs to use the remainder of your subscription.</p>",
  },
  {
    question: "What happens if you’re sick or go on holiday?",
    answer:
      "<p>If I am sick, then your account will be credited time so that you are not paying for an unused time. If I am going on holiday or away for an extended period of time, you will be notified ahead of time to ensure that no deadlines are missed and then your account will be paused for the duration of the holiday.</p>",
  },
  {
    question: "Can I get a refund?",
    answer:
      "<p>As this subscription is a high quality service, no refunds will be offered. You can pause or cancel the subscription at any time and resume.</p>",
  },
];
---

<div id="faqs">
  <Container className="py-24 sm:py-32 lg:py-40">
    <h2
      id="faq-title"
      class="mt-2 text-center text-4xl font-bold tracking-tight text-gray-950 dark:text-gray-50 sm:text-5xl"
    >
      FAQs
    </h2>

    <div id="faq-list" class="mx-auto mt-16 max-w-3xl">
      <FaqList faqs={faqs} client:idle />
    </div>
  </Container>
</div>
