---
import { Container } from "@components/ui";

import { FaqList } from "./faq-list";

const faqs = [
  {
    question: "Why wouldn’t I just hire a freelance photographer?",
    answer:
      "This is a great point! Finding a freelance photographer that is available and within budget for your project can take time to find and vet on your end and this can result in being in endless meetings going back and forth with negotiations and contracts. Typically, a freelance photographers payment structure is broken down into: photographers fee, licensing costs and extra expenses such as props, backdrops etc.\n\nThe subscription service offers a flat fee with no extra costs (including licensing). As there will be a dedicated Notion board for your requests, I am able to view your priorities in real time without the need for multiple meetings.",
  },
  {
    question: "Is there a limit to how many requests I can have?",
    answer:
      "Nope! You can fill up the pipeline with as many requests as you’d like. Then, an item will be worked on one by one. You’ll have full control of the backlog and can prioritise each item according to your business needs. ",
  },
  {
    question: "How do I request a project?",
    answer:
      "Once you sign up, you’ll have access to your own Notion board where you can raise requests and manage your requests pipeline. When you go to raise a project request, you’ll fill out a form requesting details of your brief, including but not limited to: size of photos, lighting style, specific colour ways etc. you will also be able to attach a mood board to show your vision that way if you prefer. ",
  },
  {
    question: "Is licensing included?",
    answer:
      "Yes, licensing is included! You can post the photographs across all of your social media accounts (including whitelisting) and on your website. Licensing for print is also covered, however..... ",
  },
  {
    question: "When will I receive my photographs?",
    answer:
      "Typical turnarounds are as follows:\n\ni. Bronze 2-3 days\nii. Silver 3-4 days\niii. Gold 5-6 days\n\nTurnaround time will start from the time the product is received from yourself. I will communicate with you throughout the process, letting you know when I have received the product(s).\n\n Please note, these turnarounds are a **guideline only** and more complex requests may take longer.",
  },
  {
    question: "What makes a request ‘more complex’?",
    answer:
      "Complexity can range from prop sourcing to set design. For example: if for one product you'd like some light and airy photos, some dark and moody photos and some outdoor photos, these would count as three different sets and so extra time would be needed to account for the complexity. As always, this will be communicated with you.",
  },
  {
    question: "What constitutes as a project?",
    answer: "1 product = 1 project",
  },
  {
    question: "What if I only have a single request?",
    answer:
      "That’s not a problem! You can pause the subscription after your single request has been completed and then return when you have additional photography needs to use the remainder of your subscription.",
  },
  {
    question: "What happens if you’re sick or go on holiday?",
    answer:
      "If I am sick, then your account will be credited time so that you are not paying for an unused time. If I am going on holiday or away for an extended period of time, you will be notified ahead of time to ensure that no deadlines are missed and then your account will be paused for the duration of the holiday.",
  },
  {
    question: "Can I get a refund?",
    answer:
      "As this subscription is a high quality service, no refunds will be offered. You can pause or cancel the subscription at any time and resume.",
  },
];
---

<div id="faq">
  <Container className="py-24 sm:py-32 lg:py-40">
    <h2
      id="faq-title"
      class="mt-2 text-center text-4xl font-bold tracking-tight text-gray-950 dark:text-gray-50 sm:text-5xl"
    >
      FAQs
    </h2>

    <div id="faq-list" class="mx-auto mt-16 max-w-3xl">
      <FaqList faqs={faqs} client:idle />
    </div>
  </Container>
</div>
