---
import { Image } from "astro:assets";
import { CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";
import SEO from "src/layouts/SEO.astro";

import { Container } from "@components/ui";

export async function getStaticPaths() {
  const portfolioEntries = await getCollection("portfolio");

  return portfolioEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"portfolio">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <SEO slot="seo" title={entry.data.title} description={entry.data.title} />

  <main slot="main" class="mt-48 mb-24 mx-auto prose dark:prose-invert">
    <Container>
      <Content />

      <div class="relative">
        <Image
          src={entry.data.image}
          alt={entry.data.title}
          loading="eager"
          quality={70}
          class="rounded-xl bg-gray-900/5 object-cover shadow-lg dark:shadow-white/10"
        />
        <div
          class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-black/10 dark:ring-white/10"
        >
        </div>
      </div>
    </Container>
  </main>
</BaseLayout>
